---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.image %}
      <img align="left" width="200px" src="{{ post.image }}"></img>
      {% endif %}
      <h3 style="display:inline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <ul class="tag-cloud" style="display:inline">
          {% for i in post.tags %} 
              <li><a href="{{ site.baseurl }}/tags#{{ post.tags }}">{{ post.tags }}</a></li>
          {% endfor %}
      </ul>
      <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
      <div class="entry">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}
</div>
