---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
      <ul class="tag-cloud">
          {% for i in post.tags %} 
              <li><a href="/blog/tags#{{ post.tags }}">{{ post.tags }}</a></li>
          {% endfor %}
      </ul>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
