---
layout: page
title: Tags
permalink: /tags
---

{% comment %}
<!--
- Create an empty array.
- Obtain a tag name and push it to the array.
- Sort the tag names.
- List tags as a tag cloud.
http://qiita.com/mnishiguchi/items/fa1e8fd2e893ea801ce8
-->
{% endcomment %}

{% assign tag_names = "" | split: "|"  %}

{% for posts_by_tag in site.tags %}
    {% assign tag_names = tag_names | push: posts_by_tag.first %}
{% endfor %}

{% assign tag_names = tag_names | sort %}

{% include tag-cloud.html tag_names=tag_names %}

<hr>

<section class="posts-by-tags">
    {% for tag_name in tag_names %}
        <div class="post" style="clear:both">
            <h3 id="{{ tag_name }}">
                {{ tag_name }}
            </h3>
        </div>
        <div class="posts">
        {% for post in site.tags[tag_name] %}
            <article class="post">
                <div class="thumbnail-parent">
                {% if post.image %}
                    <img class="post-img" align="left" src="{{ post.image }}"></img>
                {% endif %}
                </div>
                <div class="title-parent">
                    <h3 style="display:inline"><a href="{{ site.baseurl }}{{ post.url | prepend: baseurl }}">{{ post.title | post: post }}</a></h3>
                    {% include post-meta.html %}
                    <div class="entry">
                        {{ post.excerpt }}
                    </div>
                </div>
            </article>
        {% endfor %}
        </div>
    {% endfor %}
</section>

