{% comment %}
<!--
Obtain time and tags that are associated with current page/post.
http://qiita.com/mnishiguchi/items/fa1e8fd2e893ea801ce8
-->
{% endcomment %}

{% if post %}
  {% assign date = post.date %}
  {% assign tags = post.tags %}
{% else %}
  {% assign date = page.date %}
  {% assign tags = page.tags %}
{% endif %}

      <ul class="tag-cloud">
          {% for i in tags %} 
              <li><a href="{{ site.baseurl }}/tags#{{ i }}">{{ i }}</a></li>
          {% endfor %}
      </ul>
      <span class="date">{{ date | date: "%Y.%m.%d" }}</span>

