
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: DemiLight;
    src: url("https://fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff"); 
}
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

$helvetica: 'Noto Sans Japanese'; //Helvetica, Arial, sans-serif;
$helveticaNeue: 'Noto Sans Japanese'; //"Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: 'Noto Sans Japanese'; //Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
