
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #fff; // #000
$darkerGray: #ddd; // #222
$darkGray: #eee; // #ccc; // #333
$gray: #888; // #aaa; // #666
$lightGray: #111; // #eee
$white: #111;

// Font stacks
//@font-face {
//    font-family: 'Noto Sans Japanese';
//    font-style: normal;
//    font-weight: DemiLight;
//    src: url("https://fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff"); 
//    font-display: swap;
//}
//@font-face {
//    font-family: 'SourceHanSansJP';
//    font-style: normal;
//    font-weight: Regular;
//    src: url("/assets/SourceHanSansJP-Regular.min.woff2");
//    font-display: swap;
//}

$fontFace: 'SourceHanSansJP', 'Noto Sans Japanese', 'Noto Sans CJK JP', 'Meiryo', sans-serif;

$helvetica: $fontFace;
$helveticaNeue: $fontFace;
$georgia: $fontFace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
