---
layout: default
---

<article class="post">
    <h2>{{ page.title }}</h2>
    <div align="right">
        {% include post-meta.html %}
    </div>
    <div class="entry">
        {{ content }}
    </div>

    <hr class="separator">

    <div class="tag-select" style="padding-top:0">
        {% if page.next %} 
            {% assign post = page.next %}
            新しい記事:
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {% include post-meta.html %}
        {% endif %}
        {% if page.previous %} 
            {% assign post = page.previous %}
            <br>古い記事:
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {% include post-meta.html %}
        {% endif %}
    </div>

    <div class="tag-select">
        <a href="{{ site.baseurl }}">最近の記事</a>:
        <ul class="posts">
            {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    {% include post-meta.html %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% include tag-cloud.html %}

    <hr class="separator">

    {% include disqus.html %}
</article>
