---
layout: default
---
<h2>{{ page.tag }}</h2>

<div class="posts">
{% for post in page.posts %}
<!--<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>-->
        <article class="post">
            <div class="thumbnail-parent">
            {% if post.image %}
                <img class="post-img" align="left" src="{{ post.image }}"></img>
            {% endif %}
            </div>
            <div class="title-parent">
                <h3 style="display:inline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                {% include post-meta.html %}
                <div class="entry">
                    {{ post.excerpt }}
                </div>
            </div>
        </article>
{% endfor %}
</div>
<!--
<div id="tag-cloud">
  {{ site | tag_cloud }}
</div>
-->
{% include tag-cloud.html %}

